section{
    width: 1100px;
    height: 500px;
    margin-top: 50px;
    border:1px solid lightcoral;
    border-top: 6px solid lightcoral;
    margin-left: 120px;
    position: relative;
}
section h3{
    padding-left: 500px;
    display: block;
    margin-top: 30px;
    color: lightcoral;
    font-size: 26px;
    font-weight:500;
    margin-bottom: 60px;
}
section label{
    display: block;
    padding-left: 300px;
    padding-bottom: 15px;
}
section input{
    background: #f3f3f3;
    border: 1px solid #ccc;
    margin-left: 80px;
    height: 35px;
    border-radius: 3px;
    outline:none;
    font-size: 16px;
    width: 320px;
    margin-bottom: 20px;
    text-indent: 10px;
}
section .agree{
    width: 15px;
    height: 15px;
}
section a{
    position: absolute;
    left: 600px;
    top: 270px;
}
section button{
    width: 360px;
    height: 40px;
    background-color: lightcoral;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
    margin-left: 370px;
    margin-top: 50px;
    font-size: 18px;
}